Introduction to pandas

In [ ]:
# creating a simple python list
a = [1,4,3,7,2,6,3]
a

[1, 4, 3, 7, 2, 6, 3]

In [ ]:
# now lets convert it into pandas objectcalled a series
import pandas as pd 
a = pd.Series(a)
print(a)

0    1
1    4
2    3
3    7
4    2
5    6
6    3
dtype: int64

In [ ]:
type(a)

pandas.core.series.Series

Simple series operations such as sorting,max,sum,count

In [ ]:
a.max()

7

In [ ]:
a.min()

1

In [ ]:
a.sort_values()

0    1
4    2
2    3
6    3
1    4
5    6
3    7
dtype: int64

In [ ]:
a.sort_values(ascending=False)

3    7
5    6
1    4
6    3
2    3
4    2
0    1
dtype: int64

In [ ]:
a.sort_values(ascending=False,inplace=True)

In [ ]:
a.value_counts()

3    2
7    1
6    1
4    1
2    1
1    1
dtype: int64

In [ ]:
a[:1]

3    7
dtype: int64

In [ ]:
b = [2,4,5,6,7,8,9,3,11,10,14,18]
b

[2, 4, 5, 6, 7, 8, 9, 3, 11, 10, 14, 18]

In [ ]:
b = pd.Series(b)
b

0      2
1      4
2      5
3      6
4      7
5      8
6      9
7      3
8     11
9     10
10    14
11    18
dtype: int64

In [ ]:
type(b)

pandas.core.series.Series

In [ ]:
b.max()

18

In [ ]:
b.min()

2

In [ ]:
b.sort_values()

0      2
7      3
1      4
2      5
3      6
4      7
5      8
6      9
9     10
8     11
10    14
11    18
dtype: int64

In [ ]:
b.sort_values(ascending=False)

11    18
10    14
8     11
9     10
6      9
5      8
4      7
3      6
2      5
1      4
7      3
0      2
dtype: int64

In [ ]:
b.sort_values(ascending=False,inplace=True)

In [ ]:
b.value_counts

<bound method IndexOpsMixin.value_counts of 11    18
10    14
8     11
9     10
6      9
5      8
4      7
3      6
2      5
1      4
7      3
0      2
dtype: int64>

In [ ]:
b[:2]

11    18
10    14
dtype: int64

In [ ]:
data = {
    'apples':[3,2,0,1],
    'orange':[3,2,0,1]
    }

In [ ]:
purchases = pd.DataFrame(data)
purchases

   apples  orange
0       3       3
1       2       2
2       0       0
3       1       1

In [ ]:
purchases = pd.DataFrame(data, index=['Pavi','Logith','Megha','Prem'])
purchases

        apples  orange
Pavi         3       3
Logith       2       2
Megha        0       0
Prem         1       1

In [ ]:
purchases.loc['Pavi']

apples    3
orange    3
Name: Pavi, dtype: int64